
        
        body {
         
         background-color:#20B2AA;
         width:85%;
         margin-left: auto;
         margin-right: auto;
         font-size: 15px;


        }
       
        h1,h2 {

        color: #00FFFF;
        text-align:center;
        border-style: inset;
        border-width: 4px 6px;
        
        }
       
        p {
        
         color: #FFF;
         text-align:justify;
         

        }
       
        figure{
        text-align: center;
        border-style: inset;
        border-width:  8px;


        }

        img{
            width: 85%
        }

        a:link {
  color: green;
}

/* visited link */
a:visited {
  color: #FFF;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}