      html{
         scroll-behavior: smooth;

      }
        
      body {
         background-color: #f2b3ca;
         font-size: 18spx;

         }

      .conteiner {
         margin-top: 30%;
         width:80%;
         margin-left: auto;
         margin-right: auto;
         position: relative;
        }


        /*tela menor que 599px*/
@media screen and (max-width: 599px){
          .conteiner{
            margin-top: 80%;
          }
        }


        /*tela maior que 600px*/
@media screen and (min-width: 600px){
          .conteiner{
            margin-top: 40%;
          }
        }

        /*telas maiores que 768px*/
@media screen and (min-width: 768px){
          .conteiner{
            margin-top: 25%; }

          header{
            background-color: rgba(217,74,167,0.8); 
            flex-direction: row;
            position: relative;
            }

          .menu-opcoes{
             position: absolute;
             right: 5%;
             top: 45%;
          }
          
          .menu-opcoes ul li{
             
            display: inline;
            margin-left: 10px
          }
        }


      header, footer{
         background-color: rgba(217,74,167);  
         padding:0.5%;
         display: flex;
         flex-direction: column;
         align-items: center;
         font-size: 1.5em;
         line-height: 1.5;

        }

      .fixo {

        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;

      }

      h1{

        text-align:center;
        font-family:"american typewriter" , cursive; 
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 50px;
      }
       
      h2{

        
        text-align:center;
        font-family: "american typewriter", cursive; 
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 35px;
        
        }

      h3{

        text-align:center;
        font-family: "copperplate", cursive;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 30px;
      }
       
      p {
        
        
        text-align:justify;
        font-family: "brush script", cursive;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 25px;
        

         

        }

      .menu-opcoes{
        text-align: center;
      }

      .centro{

        color: black;
        text-align: center;

        }

      .listatexto{
        
        text-align:justify;
        margin-top: 2%;
        margin-bottom: 2%;
         

        }

      .listatexto{

        
        text-align:justify;
        margin-top: 1%;
        margin-bottom: 1%;
        }

      .ajuste li:hover{
        background-color: black;
        color :pink;
      }  
       
      figure{
        margin-top: 30;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;


        }

        .imgtexto{
        width: 60%;
        border-style: inset;
        border-width:  6px;
        margin-top: 1%;
        margin-bottom: 1%;
        

        }
        .imglogo{

          width: 30%;
        }

        link {
  color: black;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color:  #9FB6CD ;
}

/* selected link */
a:active {
  color: #fff;
}

table, td, th {
  width: 80%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  padding: 8px;
 
  
}
td {
 font-family: "Garamond", Times, serif ;
}
th{
 font-family: "Garamond", Times, serif ;
}
 
table {
  width: 80%;
  border-collapse: collapse;
}

tr {
   font-family: "Garamond", Times, serif ;
 
}
th {
  
  
  text-align:justify;
 
}
