      html{
         scroll-behavior: smooth;

      }
        
      body {
         background-color: #f2b3ca;
         font-size: 18spx;

         }

      .conteiner {
         margin-top: 30%;
         width:80%;
         margin-left: auto;
         margin-right: auto;
         position: relative;
        }

      #galeria{
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          margin: 2px 2px;
        }
      #galeria .galeria{
        margin: 2px 2px;
        text-align: center;
       }
      .imggaleria3{
        width: 90%;
        border-style: outset;
        border-color: #ff69b4;
        border-width: 3px; 
       } 

      .imggaleria{
        width: 90%;
       }
      .imggaleria2{
        width: 46%;
       }


        /*tela menor que 599px*/
@media screen and (max-width: 599px){
          .conteiner{
            margin-top: 80%;
          }
       
          .imglogo {
            width: 50%;
            right: 10%;
             }
          .imgtab{      
            width: 60%;
            border-style: inset;
            border-width:  6px;
            margin-top: 1%;
            margin-bottom: 1%; 
       }
       }

        /*tela maior que 600px*/
@media screen and (min-width: 600px){
          .conteiner{
            margin-top: 40%;
          }
        }

        /*telas maiores que 768px*/
@media screen and (min-width: 768px){
          .conteiner{
            margin-top: 20%; }

          header{
            background-color: rgba(217,74,167,0.8); 
            flex-direction: row;
            position: relative;
            }

          .menu-opcoes{
             position: absolute;
             right: 5%;
             top: 45%;
          }
          
          .menu-opcoes ul li{
             
            display: inline;
            margin-left: 10px
          }
          .imglogo {
            width: 30%;
            right: 5%;
             }
          .texto{
           text-align:justify;
           font-family: "brush script", cursive;
           margin-top: 2%;
           margin-bottom: 2%;
           font-size: 30px;
           margin-left: 45%;
         }

         #galeria{
          flex-direction: row;
          flex-wrap: wrap;
         }
         #galeria .galeria{
          width: 25%;
          text-align: center;
         }

        }


      header, footer{
         background-color: rgba(217,74,167);  
         padding:0.5%;
         display: flex;
         flex-direction: column;
         align-items: center;
         font-size: 1.5em;
         line-height: 1.5;


        }

      .fixo {

        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;

      }

      h1{

        text-align:center;
        font-family:"american typewriter" , cursive; 
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 50px;
      }
       
      h2{

        
        text-align:center;
        font-family: "american typewriter", cursive; 
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 35px;
        
        }

      h3{

        text-align:center;
        font-family: "copperplate", cursive;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 30px;
      }
       
      p {
        
        
        text-align:justify;
        font-family: "brush script", cursive;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 25px; 

        }

      .menu-opcoes{
        text-align: center;
      }

      .centro{

        color: black;
        text-align: center;

        }

      .listatexto{
        
        text-align:justify;
        margin-top: 2%;
        margin-bottom: 2%;
         

        }

       
      .listatexto{

        
        text-align:justify;
        margin-top: 1%;
        margin-bottom: 1%;
        }

      .ajuste li:hover{
        background-color: black;
        color :pink;
      }  
       
      figure{
        margin-top: 30;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;


        }

        .imgtab{
        width: 60%;
        border-style: inset;
        border-width:  6px;
        margin-top: 1%;
        margin-bottom: 1%;

        }

        .imgtext{
        width: 40%;
        float: left;
       } 

        
         .imglogo2{
        width: 40%;
        float:right;
        
        
        }
         .imglogo3{
        width: 40%;
        float:left;
        
        }

        .texth{
        text-align:center;
        font-family: "american typewriter", cursive; 
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 35px;
      }
        .fundos{
        background:pink;
        width: 60%;
        margin-left:auto;
        margin-right:auto;
        padding: 1.5%;
        border:5px solid #FF0080;
        border-radius: 8px;
        box-sizing: border-box;

       }
       .distancia{
        margin-top:1.5%; 
        margin-bottom:1%;
       }
       input[type="text"], input[type="number"], input[type="datetime-local"],input[type="email"], select, textarea{
        width: 80%;
        padding: 6px 12px;
        display: inline-block;

       }
       input[type=submit] {
        width: 30%;
        background-color:#FF0080 ;
        color: white;
        display: block;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
       
      fieldset{
       width:82%; 
       border: 1px solid #ff69b4;
       padding:1%;

      }
        

        link {
  color: black;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color:  #9FB6CD ;
}

/* selected link */
a:active {
  color: #fff;
}

table, td, th {
  width: 80%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  padding: 8px;
 
  
}
td {
 font-family: "Garamond", Times, serif ;
}
th{
 font-family: "Garamond", Times, serif ;
}
 
table {
  width: 80%;
  border-collapse: collapse;
}

tr {
   font-family: "Garamond", Times, serif ;
 
}
th {
  
  
  text-align:justify;
 
}
