
        
      body {
         background-image: url("../EVO/img_png.png");
         background-repeat:round;
         font-size: 18spx;

         }

      .conteiner {

         width:80%;
         margin-left: auto;
         margin-right: auto;
        }

      header, footer{
         background-color: rgba(165,42,42,0.9);  
         padding:2%;

        }
       
      h1,h2 {

        
        text-align:center;
        border-style: inset;
        border-width: 4px 6px;
        font-family: "Papyrus", Fantasy; 
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 23px;
        
        }
       
      p {
        
        
        text-align:justify;
        font-family: "Lucida Handwriting", cursive;
        margin-top: 2%;
        margin-bottom: 2%;

         

        }

      .centro{

        color: #9FB6CD;
        text-align: center;
        }

      ul li{
        
        text-align:justify;
        margin-top: 2%;
        margin-bottom: 2%;
         

        }

      ol li{

        
        text-align:justify;
        margin-top: 1%;
        margin-bottom: 1%;
        }
       
      figure{
        text-align: center;
        border-style: inset;
        border-width:  11px;
        margin-top: 1%;
        margin-bottom: 1%;


        }

        img{
        width: 75%;
        border-style: inset;
        border-width:  6px;
        margin-top: 1%;
        margin-bottom: 1%;

        }

        a:link {
  color: green;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color:  #9FB6CD ;
}

/* selected link */
a:active {
  color: blue;
}

table, td, th {
  width: 80%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  padding: 8px;
 
  
}

table {
  width: 80%;
  border-collapse: collapse;
}
tr {
   font-family: "Garamond", Times, serif;
 
}
th {
  
  
  text-align:justify;
 
}
